body {
    display: block;
    background: black;
    height: 100%;
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
    padding: 0;
    position: relative; 
}

#floater {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1; /* Move floater behind other content */
    overflow: hidden; /* Hide overflow to prevent video from extending beyond viewport */
}

#floater video {
    position: absolute;
    top: 50%; /* Center video vertically */
    left: 50%; /* Center video horizontally */
    transform: translate(-18%, -70%); /* Center video properly */
    min-width: 100%; /* Ensure video covers entire viewport */
    min-height: 100%;
}

#navbar {
    display: block;
    float: left; /* allows navbar to remain along the left side while scrolling*/
    min-width: fit-content;
    height: 100vh;
    position: fixed; 
    color: white;
    z-index: 1;
}

@media only screen and (max-width: 835px) {
#navbar {
    margin-top: 80%;
}
}


#navbar li {
    margin: 20px 10px;
    border: solid 2px green;
    background: green;
    border-radius: 10% 0 0 10%;
    font-size: 135%;
    font-weight: bold;
}

#navbar ul li:first-child {
    border-radius: 100%;
    width:fit-content;
    font-size: 300%;
    margin-left:auto;
    margin-right:auto;
}

a {
    padding: 2px;
}

#content {
    padding-top: 5%;
    color:white;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    min-height: 100vh;
    overflow: hidden;
}

header{
    margin-top: 80px;
}

header * {
    display: flex;
    justify-content: center;
    font-size: 50px;
    font-family: auto;
    margin-bottom: 30px;
}

header img {
    height: 300px;
    width: 300px;
    object-fit: cover;
    border: solid 8px rgb(133, 36, 12);
    border-radius: 50%;
}


#leaf img {
    display: block;
    position: relative;
    z-index: -1; /*sends img to back*/
    height: 70vh;
    width: 110%;
    top: -450px;
    margin-bottom: -300px;
    rotate: 221deg;
}

@media only screen and (max-width: 925px) {
    #leaf img {
        top: -550px;
        left: 150px;
        object-position: static;
        width:100%;
        height: 70%;
    }
    }

#projects {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-bottom: 30px;

}

.myProjects { 
    margin: 10px;
    position: relative; /*Readme>Resources>FigCaption*/
    height: fit-content;
    border: solid -10px transparent;
    border-radius: 10%;
}

section article:hover {
    box-shadow: 20px 20px 20px rgb(97, 97, 97);
    zoom: 1.05;
}

#projects img {
    border: 10px solid rgb(133, 36, 12);
    border-radius: 10%; 
    object-fit: cover;
    width:300px;
    height:40vh;
}

#firstProject figure, #firstProject img {
    height: 340px;
    width: 340px;
    object-fit: cover; /*see Object Fit reference in readme.md*/
    border-radius:10%; 
}

figcaption {
    font-size: 160%;
    position: absolute; /*Readme>Resources>FigCaption*/
    top: 10px; /* Adjust as needed */
    background-color: rgba(252, 249, 249, 0.5); /* Add a background color for better readability */
    color: black;
    font-weight: bold;
    border-radius: 5%;
    margin-left: 10px;
    width: fit-content;
}

#About_Me {
    font-size: 160%;
    font-weight: bold;
    margin-left: 15vh;
    border-bottom: solid black 2px;
}

#about h1 {
    margin:  10px 15vh 10px 15vh;
    font-size: 120%;
}

#contact * {
    text-align: center;
}
#contact h1 {
    border: solid white 4px;
    border-radius: 50%;
    padding:10px;
    width: fit-content;
    margin: 10px auto;
}

