body {
    background: conic-gradient(green, black);
}

#navbar {
    display: block;
    float: left; /* allows navbar to remain along the left side while scrolling*/
    width: 12%;
    min-width: 70px;
    height: 100vh;
    position: sticky;
    top: 0; 
    color: white;    
}

#navbar li {
    margin: 20px 10px;
    border: solid 2px white;
    font-size: 135%;
}

a {
    padding: 2px;
}

#content {
    padding-top: 5%;
    color:white;
    display: flex;
    flex-direction: column;
    min-height: 100vh;

}

header * {
    display: flex;
    justify-content: center;
    font-size: 50px;
    font-family: auto;
    margin-bottom: 30px;
}

header img{
    height: 400px;
    min-width: 150px;
    margin-left: auto;
    margin-right: auto;

}

#My_Work {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-bottom: 30px;

}

.myProjects {
    border: 10px solid white;
    border-radius: 10%;  
    margin: 10px;
    position: relative; /*Readme>Resources>FigCaption*/

}

#My_Work img {
    justify-content: space-around;
    object-fit: cover;
    width:300px;
    height:40vh;
}

figcaption {
    font-size: 160%;
    position: absolute; /*Readme>Resources>FigCaption*/
    top: 10px; /* Adjust as needed */
    background-color: rgba(252, 249, 249, 0.5); /* Add a background color for better readability */
    color: black;
    font-weight: bold;
    border-radius: 5%;
}
